.cap {
    position: relative;
    background-image: url(../images/miniBooklet.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.header {
    position: absolute;
    left: 20px;
    bottom: 50px;
    width: 100%;
}

.intro {
    background-color: rgba(0,0,0,0.6);
    text-align: justify;
    font-size: 115%;
    color: #fff;
}

.car {
    min-height: 600px;
    text-align: justify;
}